<app-main-container title="Detalle de Multa">
  @if (fine == undefined) {
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Cargando</span>
  </div>
  } @else {
  <div class="row">
    <div class="mb-3 col-6 d-flex align-items-center gap-3">
      <label for="name" class="form-label text-nowrap mb-0" style="width: 15%"
        >Lote</label
      >
      <input
        id="name"
        name="name"
        class="form-control"
        value="{{ fine.plot_id }}"
        disabled
      />
    </div>

    <div class="mb-3 col-6 d-flex align-items-center gap-3">
      <label
        for="sanctionTypeId"
        class="form-label text-nowrap mb-0"
        style="width: 15%"
        >Tipo:</label
      >
      <input
        id="sanctionTypeId"
        name="name"
        class="form-control"
        value="{{ fine.sanction_type.name }}"
        disabled
      />
    </div>

    <div class="mb-3 col-6 d-flex align-items-center gap-3">
      <label for="date" class="form-label text-nowrap mb-0" style="width: 15%"
        >Alta</label
      >
      <input
        id="date"
        name="name"
        class="form-control"
        value="{{ fine.created_date | date : 'dd/MM/yyyy' }}"
        disabled
      />
    </div>

    <div class="mb-3 col-6 d-flex align-items-center gap-3">
      <label for="state" class="form-label text-nowrap mb-0" style="width: 15%"
        >Estado</label
      >
      <input
        id="state"
        name="name"
        class="form-control"
        value="{{ fine.fine_state! | getValueByKeyForEnum : FineStatusEnum }}"
        [ngClass]="{
          'border-success bg-success-subtle text-success':
            fine.fine_state.toString() === 'APPROVED',
          'border-warning bg-warning-subtle text-warning':
            fine.fine_state.toString() === 'ON_ASSEMBLY',
          'border-danger bg-danger-subtle text-danger':
            fine.fine_state.toString() === 'REJECTED'
        }"
        disabled
      />
    </div>
  </div>
  <hr style="color: #808080" />
  <div class="d-grid gap-2 d-md-flex justify-content-end">
    @if (isAdminAndOnAssembly) {
    <button class="btn btn-primary me-2" (click)="changeFineStatus('APPROVED')">
      <i class="bi bi-clipboard-check"></i>
      Aprobar
    </button>

    <button class="btn btn-danger me-2" (click)="changeFineStatus('REJECTED')">
      <i class="bi bi-clipboard-x"></i> Rechazar
    </button>
    }

    <button class="btn btn-secondary me-2" (click)="goBack()">Volver</button>
  </div>
  <hr style="color: #808080" />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link active">Infracciones</button>
    </li>
  </ul>
  <app-fine-infractions-list
    [infractions]="fine.infractions || []"
  ></app-fine-infractions-list>
  }
</app-main-container>

@if (successMessage) {
<div class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
} @if (error) {
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
}
