<ng-template #confirmAlertContentTemplate>
  <form [formGroup]="rejectForm">
    <label for="rejectReason" class="form-label">Ingrese un motivo</label>
    <input
      type="text"
      class="form-control"
      id="rejectReason"
      formControlName="rejectReason"
      [ngClass]="{
        'is-invalid':
          rejectReasonControl?.invalid && rejectReasonControl?.touched
      }"
    />
    @if(rejectReasonControl?.invalid && rejectReasonControl?.touched) {
    <div class="invalid-feedback">El motivo es requerido.</div>
    }
  </form>
</ng-template>

<app-main-container
  title="Construcción {{ construction?.construction_id }}"
  [onGoBack]="goBack"
>
  <div class="row">
    <div class="mb-3 col-6">
      <label for="name" class="form-label">Nombre</label>
      <input
        id="name"
        name="name"
        class="form-control"
        value="{{ construction?.project_name }}"
        disabled
      />
    </div>
    <div class="mb-3 col-6">
      <label for="description" class="form-label">Descripción</label>
      <input
        id="description"
        name="description"
        class="form-control"
        value="{{ construction?.project_description }}"
        disabled
      />
    </div>
    <div class="mb-3 col-6">
      <label for="status" class="form-label">Estado</label>
      <input
        id="status"
        name="status"
        class="form-control"
        [ngClass]="{
          'border-success': construction?.construction_status === 'APPROVED',
          'bg-success-subtle': construction?.construction_status === 'APPROVED',
          'text-success': construction?.construction_status === 'APPROVED',
          'border-danger': construction?.construction_status === 'REJECTED',
          'bg-danger-subtle': construction?.construction_status === 'REJECTED',
          'text-danger': construction?.construction_status === 'REJECTED',
          'border-info':
            construction?.construction_status !== 'APPROVED' &&
            construction?.construction_status !== 'REJECTED',
          'bg-info-subtle':
            construction?.construction_status !== 'APPROVED' &&
            construction?.construction_status !== 'REJECTED',
          'text-dark':
            construction?.construction_status !== 'APPROVED' &&
            construction?.construction_status !== 'REJECTED'
        }"
        value="{{
          construction?.construction_status!
            | getValueByKeyForEnum : CONSTRUCTION_STATUSES_ENUM
        }}"
        disabled
      />
    </div>
    <div class="mb-3 col-6">
      <label for="start_date" class="form-label"
        >Fecha estimada de inicio</label
      >
      <input
        id="start_date"
        name="start_date"
        class="form-control"
        value="{{ construction?.planned_start_date }}"
        disabled
      />
    </div>
    <div class="mb-3 col-6">
      <label for="end_date" class="form-label"
        >Fecha estimada de finalización</label
      >
      <input
        id="end_date"
        name="end_date"
        class="form-control"
        value="{{ construction?.planned_end_date }}"
        disabled
      />
    </div>
    <div class="mb-3 col-6">
      <label for="plot_id" class="form-label">Lote</label>
      <input
        id="plot_id"
        name="plot_id"
        class="form-control"
        value="{{ construction?.plot_id }}"
        disabled
      />
    </div>
  </div>
  <hr style="color: #808080" />
  <div class="d-grid gap-2 d-md-flex justify-content-between">
    <div
      class="alert m-0 me-2 py-1"
      role="alert"
      [ngClass]="{
        'alert-success':
          isConstructionAbleToApprove() &&
          construction?.construction_status !== 'REJECTED',
        'alert-danger': construction?.construction_status === 'REJECTED',
        'alert-warning': !isConstructionAbleToApprove()
      }"
    >
      <!-- APPROVED -->
      @if(construction?.construction_status === 'APPROVED') {
      <i class="bi bi-check-circle"></i>
      La obra ya está aprobada }
      <!-- REJECTED -->
      @else if(construction?.construction_status === 'REJECTED') {
      <i class="bi bi-exclamation-circle"></i>
      La obra ya fue rechazada }
      <!-- ALL APPROVED -->
      @else if(isConstructionAbleToApprove()) {
      <i class="bi bi-check-circle"></i>
      Todos los documentos están aprobados, puede aprobar la obra }
      <!-- DOCUMENTS NOT APPROVED -->
      @else {
      <i class="bi bi-exclamation-circle"></i>
      No podrá aprobar la obra hasta que todos los documentos estén aprobados}
    </div>
    <div>
      <button
        class="btn btn-primary me-2"
        (click)="approveConstruction()"
        [disabled]="
          !isConstructionAbleToApprove() ||
          construction?.construction_status === 'APPROVED'
        "
      >
        <i class="bi bi-clipboard-check"></i>
        Aprobar obra
      </button>
      <button
        class="btn btn-danger me-2"
        (click)="rejectConstruction()"
        [disabled]="construction?.construction_status === 'REJECTED'"
      >
        <i class="bi bi-clipboard-x"></i> Rechazar obra
      </button>
      <button class="btn btn-warning" (click)="openEditModal()">
        <i class="bi bi-pencil me-2"></i>Editar
      </button>
    </div>
  </div>
  <hr style="color: #808080" />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ active: activeTab === 'documentation' }"
        (click)="setActiveTab('documentation')"
      >
        Documentos
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ active: activeTab === 'workers' }"
        (click)="setActiveTab('workers')"
      >
        Obreros
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ active: activeTab === 'notes' }"
        (click)="setActiveTab('notes')"
      >
        Notas
      </button>
    </li>
  </ul>
  @switch (activeTab) {
  <!-- Documentation -->
  @case ('documentation') {
  <app-construction-documentation-list
    [construction]="construction || []"
    [currentConstructionStatus]="construction?.construction_status!"
    (constructionApproved)="
      onConstructionApproved(construction?.construction_id!)
    "
    (constructionRejected)="
      onConstructionRejected(construction?.construction_id!, $event)
    "
    (constructionUpdated)="onConstructionUpdated()"
  ></app-construction-documentation-list>
  }
  <!-- Workers -->
  @case ('workers') {
  <app-construction-workers
    [workers]="construction?.workers || []"
    [constructionId]="construction?.construction_id"
  >
  </app-construction-workers>
  }
  <!-- Notes -->
  @case ('notes') {
  <app-construction-notes-list
    [notes]="construction?.notes || []"
  ></app-construction-notes-list>
  } }
  <!-- Message -->
  @if (successMessage) {
  <div class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  }

  <!-- Forulario para editar la obra -->
  <ng-template #editModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Construcción</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <!-- <div *ngIf="updateSuccess" class="alert alert-success m-3" role="alert">
      Los datos se actualizaron correctamente.
    </div> -->
    <div class="modal-body">
      <form #editForm="ngForm">
        <div class="mb-3">
          <label for="project_name" class="form-label"
            >Nombre del Proyecto</label
          >
          <input
            id="project_name"
            name="project_name"
            class="form-control"
            [(ngModel)]="editConstruction.project_name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="project_description" class="form-label"
            >Descripción</label
          >
          <input
            id="project_description"
            name="project_description"
            class="form-control"
            [(ngModel)]="editConstruction.description"
          />
        </div>
        <div class="mb-3">
          <label for="planned_start_date" class="form-label"
            >Fecha de Inicio</label
          >
          <input
            type="date"
            id="planned_start_date"
            name="planned_start_date"
            class="form-control"
            [(ngModel)]="editConstruction.planned_start_date"
            required
          />
        </div>
        <div class="mb-3">
          <label for="planned_end_date" class="form-label">Fecha de Fin</label>
          <input
            type="date"
            id="planned_end_date"
            name="planned_end_date"
            class="form-control"
            [(ngModel)]="editConstruction.planned_end_date"
            required
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">
        Cancelar
      </button>
      <button
        class="btn btn-primary"
        [disabled]="!editForm.form.valid"
        (click)="saveChanges()"
      >
        Guardar
      </button>
    </div>
  </ng-template>
</app-main-container>
