<ng-template #confirmAlertContentTemplate>
  <form [formGroup]="rejectForm">
    <label for="rejectReason" class="form-label">Ingrese un motivo</label>
    <input
      type="text"
      class="form-control"
      id="rejectReason"
      formControlName="rejectReason"
      [ngClass]="{
        'is-invalid':
          rejectReasonControl?.invalid && rejectReasonControl?.touched
      }"
    />
    @if(rejectReasonControl?.invalid && rejectReasonControl?.touched) {
    <div class="invalid-feedback">El motivo es requerido.</div>
    }
  </form>
</ng-template>

<app-main-container title="Construcción {{ construction?.construction_id }}">
  <form #editForm="ngForm" class="row">
    <div class="mb-3 col-6 d-flex align-items-center">
      <label for="name" class="form-label me-3" style="width: 150px"
        >Nombre</label
      >
      <input
        #nameControl="ngModel"
        id="name"
        name="name"
        class="form-control flex-grow-1"
        value="{{ construction?.project_name }}"
        [(ngModel)]="editConstruction.project_name"
        [ngClass]="{
          'is-invalid':
            nameControl.invalid && (nameControl.dirty || nameControl.touched)
        }"
        [disabled]="mode === 'detail'"
        required
      />
      <!--       @if (nameControl.invalid && (nameControl.dirty || nameControl.touched)) {
      @if (nameControl.getError('required')) {
      <div class="invalid-feedback">Este campo es obligatorio</div>
      } } -->
    </div>
    <div class="mb-3 col-6 d-flex align-items-center">
      <label for="description" class="form-label me-3" style="width: 150px"
        >Descripción</label
      >
      <input
        #descriptionControl="ngModel"
        id="description"
        name="description"
        class="form-control flex-grow-1"
        value="{{ construction?.project_description }}"
        [(ngModel)]="editConstruction.description"
        [disabled]="mode === 'detail'"
        [ngClass]="{
          'is-invalid':
            descriptionControl.invalid &&
            (descriptionControl.dirty || descriptionControl.touched)
        }"
        required
      />
      <!--       @if (descriptionControl.invalid && (descriptionControl.dirty ||
      descriptionControl.touched)) { @if
      (descriptionControl.getError('required')) {
      <div class="invalid-feedback">Este campo es obligatorio</div>
      } } -->
    </div>
    <div class="mb-3 col-6 d-flex align-items-center">
      <label for="status" class="form-label me-3" style="width: 150px"
        >Estado</label
      >
      <input
        id="status"
        name="status"
        class="form-control flex-grow-1"
        [ngClass]="{
          'border-success': construction?.construction_status === 'APPROVED',
          'bg-success-subtle': construction?.construction_status === 'APPROVED',
          'text-success': construction?.construction_status === 'APPROVED',
          'border-danger': construction?.construction_status === 'REJECTED',
          'bg-danger-subtle': construction?.construction_status === 'REJECTED',
          'text-danger': construction?.construction_status === 'REJECTED',
          'border-info':
            construction?.construction_status !== 'APPROVED' &&
            construction?.construction_status !== 'REJECTED',
          'bg-info-subtle':
            construction?.construction_status !== 'APPROVED' &&
            construction?.construction_status !== 'REJECTED',
          'text-dark':
            construction?.construction_status !== 'APPROVED' &&
            construction?.construction_status !== 'REJECTED'
        }"
        value="{{
          construction?.construction_status!
            | getValueByKeyForEnum : CONSTRUCTION_STATUSES_ENUM
        }}"
        disabled
      />
    </div>
    <div class="mb-3 col-6 d-flex align-items-center">
      <label for="start_date" class="form-label me-3" style="width: 150px"
        >Fecha estimada de inicio</label
      >
      <input
        #startDateControl="ngModel"
        id="start_date"
        name="start_date"
        class="form-control flex-grow-1"
        value="{{ construction?.planned_start_date }}"
        [(ngModel)]="editConstruction.planned_start_date"
        [ngClass]="{
          'is-invalid':
            startDateControl.invalid &&
            (startDateControl.dirty || startDateControl.touched)
        }"
        type="date"
        [disabled]="mode === 'detail'"
        required
      />
      <!--     @if (startDateControl.invalid && (startDateControl.dirty ||
      startDateControl.touched)) { @if (startDateControl.getError('required')) {
      <div class="invalid-feedback">Este campo es obligatorio</div>
      } } -->
    </div>
    <div class="mb-3 col-6 d-flex align-items-center">
      <label for="end_date" class="form-label me-3" style="width: 150px"
        >Fecha estimada de finalización</label
      >
      <input
        #endDateControl="ngModel"
        id="end_date"
        name="end_date"
        class="form-control flex-grow-1"
        value="{{ construction?.planned_end_date }}"
        [(ngModel)]="editConstruction.planned_end_date"
        [ngClass]="{
          'is-invalid':
            endDateControl.invalid &&
            (endDateControl.dirty || endDateControl.touched)
        }"
        type="date"
        [disabled]="mode === 'detail'"
        required
      />
      <!--       @if (endDateControl.invalid && (endDateControl.dirty ||
      endDateControl.touched)) { @if (endDateControl.getError('required')) {
      <div class="invalid-feedback">Este campo es obligatorio</div>
      } } -->
    </div>
    <div class="mb-3 col-6 d-flex align-items-center">
      <label for="plot_id" class="form-label me-3" style="width: 150px"
        >Lote</label
      >
      <input
        id="plot_id"
        name="plot_id"
        class="form-control flex-grow-1"
        value="{{ construction?.plot_id }}"
        disabled
      />
    </div>
  </form>
  <hr style="color: #808080" />
  <div class="d-grid gap-2 d-md-flex justify-content-between">
    @if(mode === "detail") {
    <div
      class="alert m-0 me-2 py-1"
      role="alert"
      [ngClass]="{
        'alert-success':
          isConstructionAbleToApprove() &&
          construction?.construction_status !== 'REJECTED',
        'alert-danger': construction?.construction_status === 'REJECTED',
        'alert-warning': !isConstructionAbleToApprove()
      }"
    >
      <!-- APPROVED -->
      @if(construction?.construction_status === 'APPROVED') {
      <i class="bi bi-check-circle"></i>
      La obra ya está aprobada }
      <!-- REJECTED -->
      @else if(construction?.construction_status === 'REJECTED') {
      <i class="bi bi-exclamation-circle"></i>
      La obra ya fue rechazada }
      <!-- REVIEW -->
      @else if(construction?.construction_status === 'ON_REVISION' && role ===
      "OWNER") {
      <i class="bi bi-exclamation-circle"></i>
      La obra fue enviada a revisión }
      <!-- ALL APPROVED -->
      @else if(isConstructionAbleToApprove()) {
      <i class="bi bi-check-circle"></i>
      Todos los documentos están aprobados, puede aprobar la obra }
      <!-- DOCUMENTS NOT APPROVED -->
      @else {
      <i class="bi bi-exclamation-circle"></i>
      No podrá aprobar la obra hasta que todos los documentos estén aprobados}
    </div>
    } @if(mode === "edit") {
    <div></div>
    }
    <div>
      @if(mode === "detail") { @if(role === "OWNER") {
      <button
        class="btn btn-success me-2"
        (click)="onReviewConstruction()"
        [disabled]="!isConstructionAbleToReview()"
      >
        <i class="bi bi-clipboard-check"></i>
        Enviar a revisión
      </button>
      }
      <!-- ADMIN -->
      @if (role === "ADMIN") {
      <button
        class="btn btn-primary me-2"
        (click)="approveConstruction()"
        [disabled]="
          !isConstructionAbleToApprove() ||
          construction?.construction_status !== 'ON_REVISION'
        "
      >
        <i class="bi bi-clipboard-check"></i>
        Aprobar obra
      </button>
      <button
        class="btn btn-danger me-2"
        (click)="rejectConstruction()"
        [disabled]="construction?.construction_status !== 'ON_REVISION'"
      >
        <i class="bi bi-clipboard-x"></i> Rechazar obra
      </button>
      } } @if(mode === "edit" && role === "OWNER") {
      <button
        class="btn btn-success me-2"
        [disabled]="!editForm.form.valid"
        (click)="saveChanges()"
      >
        Confirmar
      </button>
      }
      <button class="btn btn-secondary" (click)="goBack()">Volver</button>
    </div>
  </div>
  @if(mode === "detail") {

  <hr style="color: #808080" />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ active: activeTab === 'documentation' }"
        (click)="setActiveTab('documentation')"
      >
        Documentos
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ active: activeTab === 'workers' }"
        (click)="setActiveTab('workers')"
      >
        Obreros
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ active: activeTab === 'notes' }"
        (click)="setActiveTab('notes')"
      >
        Notas
      </button>
    </li>
  </ul>
  @switch (activeTab) {
  <!-- Documentation -->
  @case ('documentation') {
  <app-construction-documentation-list
    [construction]="construction || []"
    [currentConstructionStatus]="construction?.construction_status!"
    (constructionApproved)="
      onConstructionApproved(construction?.construction_id!)
    "
    (constructionReview)="onConstructionReview(construction?.construction_id!)"
    (constructionRejected)="
      onConstructionRejected(construction?.construction_id!, $event)
    "
    (constructionUpdated)="onConstructionUpdated()"
  ></app-construction-documentation-list>
  }
  <!-- Workers -->
  @case ('workers') {
  <app-construction-workers
    [workers]="construction?.workers || []"
    [constructionId]="construction?.construction_id"
  >
  </app-construction-workers>
  }
  <!-- Notes -->
  @case ('notes') {
  <app-construction-notes-list
    [notes]="construction?.notes || []"
  ></app-construction-notes-list>
  } }
  <!-- Message -->
  @if (successMessage) {
  <div class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  } }
</app-main-container>
