<ng-template #actionsTemplate let-item>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="goToDetails(item.id, 'detail')">
          Ver detalle
        </button>
        @if((this.role === 'ADMIN' || userId === item.created_by) &&
        item.claim_status === 'SENT') {
        <button ngbDropdownItem (click)="goToDetails(item.id, 'edit')">
          Editar
        </button>
        } @if((this.role === 'ADMIN' ) && item.claim_status === 'SENT') {
        <button ngbDropdownItem (click)="disapproveClaim(item.id)">
          Desaprobar
        </button>
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sanctionType let-item>
  {{ item.sanction_type.name }}
</ng-template>

<ng-template #infraction let-item>
  @if (item.infraction_id) {
  <a [href]="['/infraction/' + item.infraction_id]">
    {{ item.infraction_id }}
  </a>
  }@else { N/A }
</ng-template>

<ng-template #date let-item>
  {{ item.created_date | date : "dd/MM/yyyy HH:mm" }}
</ng-template>

<ng-template #claimStatus let-item>
  @if(item.claim_status === 'APPROVED') {
  <span
    class="badge border border-success text-success p-2 w-100"
    style="max-width: 160px"
    >{{ item.claim_status | getValueByKeyForEnum : ClaimStatusEnum }}</span
  >
  } @else if(item.claim_status === 'REJECTED') {
  <span
    class="badge border border-danger text-danger p-2 w-100"
    style="max-width: 160px"
    >{{ item.claim_status | getValueByKeyForEnum : ClaimStatusEnum }}</span
  >
  } @else if (item.claim_status === 'SENT') {
  <span
    class="badge text-secondary border border-secondary p-2 w-100"
    style="max-width: 160px"
    >{{ item.claim_status | getValueByKeyForEnum : ClaimStatusEnum }}</span
  >
  }
</ng-template>

<ng-template #check let-item>
  <div class="d-inline-flex align-items-center">
    <div
      class="form-check me-2"
      [ngClass]="{
        invisible: !(item.claim_status === 'SENT' && role === 'ADMIN')
      }"
    >
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        [checked]="includesClaimById(item)"
        (click)="checkClaim(item)"
        [disabled]="disbledCheck(item)"
      />
    </div>
    <span>{{ item.id }}</span>
  </div>
</ng-template>

<ng-template #description let-item>
  {{ item.description | truncate : 60 }}
</ng-template>

<app-main-container title="Reclamos" (infoButtonClick)="onInfoButtonClick()">
  <app-table
    [items]="(items$ | async) || []"
    [columns]="columns"
    [pagination]="{
      totalItems: (totalItems$ | async) || 0,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [isLoading]="(isLoading$ | async) || false"
    (searchValueChange)="onSearchValueChange('partialSearch', $event)"
    (headerButtonClick)="openFormModal()"
    (infoButtonClick)="onInfoButtonClick()"
    [headerButtonIcon]="'bi bi-plus'"
    [headerButtonText]="''"
    [showExportPdfButton]="false"
    [getAllItems]="getAllItems"
  >
  </app-table>
  <ng-template #infoModal let-modal>
    <div class="modal-header fs-6 py-1">
      <h4 class="modal-title">Información de la Lista de Construcciones</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body fs-6 py-2">
      <div class="container-fluid">
        <!-- Introducción -->
        <div class="alert alert-info mb-2 py-2">
          <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
          <p class="mb-0 small">
            Esta pantalla permite a los usuarios visualizar y gestionar la lista
            completa de reclamos, así como acceder a información detallada y
            realizar acciones específicas sobre cada reclamo. A continuación, se
            describen las principales funcionalidades disponibles:
          </p>
        </div>

        <!-- Campos Principales -->
        <div class="card mb-2">
          <div class="card-header py-1">
            <h5 class="mb-0">Datos de Reclamos</h5>
          </div>
          <div class="card-body py-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-1">
                <strong>Lista de Reclamos:</strong> Muestra los detalles de cada
                reclamo, incluyendo el tipo de sanción, descripción, fecha de
                creación, infracción relacionada y estado del reclamo.
              </li>
              <li class="list-group-item py-1">
                <strong>Filtros:</strong> Puedes aplicar filtros específicos
                para encontrar reclamos rápidamente, ajustando la búsqueda a tus
                necesidades.
              </li>
              <li class="list-group-item py-1">
                <strong>Paginación:</strong> Control para navegar entre
                múltiples páginas de reclamos.
              </li>
              <li class="list-group-item py-1">
                <strong>Exportar:</strong> Opción para exportar la lista de
                reclamos a formatos PDF o Excel.
              </li>
            </ul>
          </div>
        </div>

        <!-- Acciones -->
        <div class="card mb-2">
          <div class="card-header py-1">
            <h5 class="mb-0">Acciones Disponibles</h5>
          </div>
          <div class="card-body py-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-1">
                <strong>Ver Detalle:</strong> Accede a información detallada de
                cada reclamo seleccionando "Ver detalle" en el menú de acciones.
              </li>
              <li class="list-group-item py-1">
                <strong>Editar:</strong> Modifica la información de un reclamo
                si tienes permisos de administrador o eres el creador y el
                reclamo está en estado "Enviado".
              </li>
              <li class="list-group-item py-1">
                <strong>Desaprobar:</strong> Los administradores pueden
                desaprobar reclamos que se encuentran en estado "Enviado".
              </li>
              <li class="list-group-item py-1">
                <strong>Seleccionar Reclamos:</strong> Marca reclamos
                específicos si tienes permisos de administrador y el estado del
                reclamo es "Enviado".
              </li>
            </ul>
          </div>
        </div>

        <!-- Nota -->
        <div class="alert alert-warning py-2 mb-0">
          <h5 class="alert-heading">Nota:</h5>
          <p class="mb-0 small">
            Asegúrate de verificar la información antes de realizar cambios o
            rechazar reclamos. La exactitud de los datos es fundamental para el
            correcto seguimiento de los casos.
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer py-2">
      <button type="button" class="btn btn-primary" (click)="modal.close()">
        Entendido
      </button>
    </div>
  </ng-template>
</app-main-container>
