<ng-template #actionsTemplate let-item>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="goToDetails(item.id, 'detail')">
          Ver detalle
        </button>
        @if((this.role === 'ADMIN' || userId === item.created_by) &&
        item.claim_status === 'SENT') {
        <button ngbDropdownItem (click)="goToDetails(item.id, 'edit')">
          Editar
        </button>
        } @if((this.role === 'ADMIN' ) && item.claim_status === 'SENT') {
        <button ngbDropdownItem (click)="disapproveClaim(item.id)">
          Desaprobar
        </button>
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sanctionType let-item>
  {{ item.sanction_type.name }}
</ng-template>

<ng-template #infraction let-item>
  @if (item.infraction_id) {
  <a [href]="['/infraction/' + item.infraction_id]">
    {{ item.infraction_id }}
  </a>
  }@else { N/A }
</ng-template>

<ng-template #date let-item>
  {{ item.created_date | date : "dd/MM/yyyy HH:mm" }}
</ng-template>

<ng-template #claimStatus let-item>
  @if(item.claim_status === 'APPROVED') {
  <span
    class="badge border border-success text-success p-2 w-100"
    style="max-width: 160px"
    >{{ item.claim_status | getValueByKeyForEnum : ClaimStatusEnum }}</span
  >
  } @else if(item.claim_status === 'REJECTED') {
  <span
    class="badge border border-danger text-danger p-2 w-100"
    style="max-width: 160px"
    >{{ item.claim_status | getValueByKeyForEnum : ClaimStatusEnum }}</span
  >
  } @else if (item.claim_status === 'SENT') {
  <span
    class="badge text-secondary border border-secondary p-2 w-100"
    style="max-width: 160px"
    >{{ item.claim_status | getValueByKeyForEnum : ClaimStatusEnum }}</span
  >
  }
</ng-template>

<ng-template #check let-item>
  <div class="d-inline-flex align-items-center">
    <div
      class="form-check me-2"
      [ngClass]="{
        invisible: !(item.claim_status === 'SENT' && role === 'ADMIN')
      }"
    >
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        [checked]="includesClaimById(item)"
        (click)="checkClaim(item)"
        [disabled]="disbledCheck(item)"
      />
    </div>
    <span>{{ item.id }}</span>
  </div>
</ng-template>

<ng-template #description let-item>
  {{ item.description | truncate : 60 }}
</ng-template>

<app-main-container title="Reclamos" (infoButtonClick)="onInfoButtonClick()">
  <app-table
    [items]="(items$ | async) || []"
    [columns]="columns"
    [pagination]="{
      totalItems: (totalItems$ | async) || 0,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [isLoading]="(isLoading$ | async) || false"
    (searchValueChange)="onSearchValueChange('partialSearch', $event)"
    (headerButtonClick)="openFormModal()"
    (infoButtonClick)="onInfoButtonClick()"
    [headerButtonIcon]="'bi bi-plus'"
    [headerButtonText]="''"
    [showExportPdfButton]="false"
    [getAllItems]="getAllItems"
  >
  </app-table>
</app-main-container>
