<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva Multa</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      #form="ngForm"
      (ngSubmit)="createFine()"
      class="row g-3 needs-validation"
      novalidate
    >
      <div class="col-md-2">
        <label for="plotSelect" class="form-label">Lote</label>
        <select
          class="form-select"
          id="plotSelect"
          [(ngModel)]="fine!.plotId"
          #plotId="ngModel"
          name="plotId"
        >
          <option value="1">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-md-10">
        <app-sanction-type-select
          (selectedSanctionTypeChange)="onSanctionTypeChange($event)"
        >
          >
        </app-sanction-type-select>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder=""
        />
      </div>
    </form>
    @if (error) {
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    }
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="createFine()"
    >
      Guardar
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Nuevo
</button>
