<ng-template #statusTemplate let-item>
  <span
    class="badge text-secondary border border-secondary p-2 w-100"
    style="max-width: 160px"
    >{{
      item.construction_status
        | getValueByKeyForEnum : CONSTRUCTION_STATUSES_ENUM
    }}</span
  >
</ng-template>

<ng-template #actionsTemplate let-item>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          ngbDropdownItem
          (click)="goToDetails(item.construction_id, 'detail')"
        >
          Ver detalle
        </button>
        @if(role !== "ADMIN") {
        <button
          ngbDropdownItem
          (click)="goToDetails(item.construction_id, 'edit')"
        >
          Editar
        </button>
        }
      </div>
    </div>
  </div>
</ng-template>

<app-main-container title="Obras" (infoButtonClick)="infoModal()">
  <app-table
    [items]="(items$ | async) || []"
    [columns]="columns"
    [pagination]="{
      totalItems: (totalItems$ | async) || 0,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [isLoading]="(isLoading$ | async) || false"
    (searchValueChange)="onSearchValueChange($event)"
    (headerButtonClick)="openFormModal()"
    [showHeaderButton]="role === 'OWNER'"
    [tableFilters]="filterConfig"
    (filterValueChange)="onFilterValueChange($event)"
    [showExportPdfButton]="false"
    [getAllItems]="getAllItems"
  >
  </app-table>
</app-main-container>
