<form>
  <div class="mb-3 row">
    <label
      for="table-complete-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Full text search:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="service.searchTerm"
      />
    </div>

  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th>
				<th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
				<th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
				<th scope="col" sortable="population" (sort)="onSort($event)">Population</th> -->

        <th scope="col">Multa</th>
        <th scope="col">Lote</th>
        <th scope="col">Moderation State</th>
        <th scope="col">Tipo</th>
        <th scope="col">Alta</th>

        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (service.loading$ | async) {
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      }@else {
      @for (fine of fines$ | async; track fine.id) {
      <!-- <tr>
					<th scope="row">{{ fine.id }}</th>
					<td>
						<img
							[src]="'https://upload.wikimedia.org/wikipedia/commons/' + fine.flag"
							[alt]="'The flag of ' + fine.name"
							class="me-2"
							style="width: 20px"
						/>
						<ngb-highlight [result]="fine.name" [term]="service.searchTerm" />
					</td>
					<td><ngb-highlight [result]="fine.area | number" [term]="service.searchTerm" /></td>
					<td><ngb-highlight [result]="fine.population | number" [term]="service.searchTerm" /></td>
				</tr> -->

      <tr>
        <th scope="row">{{ fine.id }}</th>
        <td>
          <ngb-highlight
            [result]="fine.plotId.toString()"
            [term]="service.searchTerm"
          />
        </td>
        <td>
          <ngb-highlight
            [result]="fine.fineState"
            [term]="service.searchTerm"
          />
        </td>

        <td>
          <ngb-highlight
            [result]="fine.sanctionType.name"
            [term]="service.searchTerm"
          />
        </td>

        <td>
          <ngb-highlight
            [result]="fine.createdDate"
            [term]="service.searchTerm"
          />
        </td>

        <td>
          <button mat-button color="primary" (click)="viewDetail(fine.id)">
            Ver Detalle
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4" style="text-align: center">No results found</td>
      </tr>
      }
    }
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="service.pageSize"
    >
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select>
  </div>
</form>
