<div class="container-fluid">
  <div class="row flex-nowrap mt-5">
    <!-- Sidebar -->
    <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100">
      <div class="bg-dark p-2">
        <ul class="nav nav-pills flex-column mt-2">
          <li>
            <a class="nav-link fs-5 ms-3 d-none d-lg-inline bg-dark text-light" routerLink="constructions">Obras</a>
          </li>

          <!-- multas -->
          <li class="nav-item">
            <a href="#" class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#multasMenu"
               aria-expanded="false">
              <span class="fs-5">Multas</span>
            </a>
            <ul class="collapse nav flex-column" id="multasMenu">
              <li>
                <a routerLink="fine" class="nav-link text-white">Multas</a>
              </li>
              <li>
                <a routerLink="infraction" class="nav-link text-white">Infracciones</a>
              </li>
              <li>
                <a routerLink="claim" class="nav-link text-white">Reclamos</a>
              </li>
              <li>
                <a routerLink="sanctionType" class="nav-link text-white">Tipo de Sanciones</a>
              </li>
            </ul>
          </li>
        </ul>
        <app-role-selector class="pt-5"></app-role-selector>
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
