<div class="container-fluid main-component">
  <div class="row flex-nowrap">
    <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100">
      <div class="bg-dark p-2">
        <a class="d-flex text-decoration-none mt-1 justify-content-center align-items-center text-white text-center">
          <span class="fs-4 d-none d-md-inline text-center">Obras & Multas</span>
        </a>
        <ul class="nav nav-pills flex-column mt-4">
          <li class="nav-item mb-3">
            <a class="nav-link fs-5 ms-3 d-none d-lg-inline bg-dark text-light" routerLink="constructions">Obras</a>
          </li>
          <li ngbDropdown class="nav-item mb-3" role="presentation">
            <button type="button" class="nav-link fs-5 ms-3 d-none d-lg-inline bg-dark text-light" ngbDropdownToggle>
              Multas
            </button>
            <div ngbDropdownMenu class="bg-dark border border-light">
              <button ngbDropdownItem routerLink="fine" class="fs-5 ms-3 d-none d-lg-inline text-light">
                Multas
              </button>
              <button ngbDropdownItem routerLink="infraction" class="fs-5 ms-3 d-none d-lg-inline text-light">
                Infracciones
              </button>
              <button ngbDropdownItem routerLink="claim" class="fs-5 ms-3 d-none d-lg-inline text-light">
                Reclamos
              </button>
              <div class="dropdown-divider border border-light"></div>
              <button ngbDropdownItem routerLink="sanctionType" class="fs-5 ms-3 d-none d-lg-inline text-light">
                Tipos
              </button>
            </div>
          </li>
          <app-role-selector class="ms-auto mt-5"></app-role-selector>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-white" [routerLink]="'stadistics'">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-graph-up"-->
<!--                   viewBox="0 0 16 16">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>-->
<!--              </svg>-->
<!--              <span class="fs-5 ms-3 d-none d-lg-inline">Estadisticas</span>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <button type="button" class="btn btn-light mt-5" (click)="change()"> white </button>
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
