i {
  color: white !important;
}


/* Estilo para el botón de logout */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

/* Asegurar que los íconos están alineados verticalmente */
.d-flex.align-items-center i {
  font-size: 1.1rem;
}

.navbar-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  margin-left: 1rem;
  /* Si necesitas ajustar el margen */
}

.navbar-brand {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

