<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <!--   todo:ver porque no me lo toma cuando es default   -->
      <img src="https://www.villadelcondor.com/imagenes/villa_del_condor.png"
           alt="Villa del Condor - Casas & Club de Montaña" class="navbar-logo"/>
    </a>

    <div class="d-flex align-items-center">

      <!--      <app-notifications class="text-white me-5"></app-notifications>-->
      <button class="btn btn-danger d-flex align-items-center">
        <i class="bi bi-box-arrow-right me-2"></i>
        Logout
      </button>
    </div>
  </div>
</nav>

<app-black-sidebar></app-black-sidebar>
