<ng-template #fineState let-item>
  <span
    class="badge p-2 border w-100"
    style="max-width: 160px"
    [ngClass]="{
      'text-success': item.fine_state === 'APPROVED',
      'border-success': item.fine_state === 'APPROVED',
      'text-danger': item.fine_state === 'REJECTED',
      'border-danger': item.fine_state === 'REJECTED',
      'border-warning': item.fine_state === 'ON_ASSEMBLY',
      'text-warning': item.fine_state === 'ON_ASSEMBLY'
    }"
    >{{ item.fine_state | getValueByKeyForEnum : FineStatusEnum }}</span
  >
</ng-template>

<ng-template #fineDate let-item>
  {{ item.created_date | date : "dd/MM/yyyy" }}
</ng-template>

<ng-template #actionsTemplate let-item>
  <button class="btn btn-primary btn-sm me-2" (click)="goToFineDetail(item.id)">
    <i class="bi bi-eye"></i>
  </button>
</ng-template>

<ng-template #sanctionType let-item>
  {{ item.sanction_type.name }}
</ng-template>

<app-main-container
  title="Multas"
  id="pdf-template"
  (infoButtonClick)="onInfoButtonClick()"
>
  <app-table
    [items]="(items$ | async) || []"
    [columns]="columns"
    [pagination]="{
      totalItems: (totalItems$ | async) || 0,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [isLoading]="(isLoading$ | async) || false"
    (searchValueChange)="onSearchValueChange('partialName', $event)"
    [showHeaderButton]="false"
    [showSearchBar]="false"
    (infoButtonClick)="onInfoButtonClick()"
    [getAllItems]="getAllFines"
    [showExportPdfButton]="false"
  >
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="btn-group me-5" role="group">
        <div class="d-flex align-items-center">
          <div class="btn-group me-2">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="clearFilters()"
            >
              <i class="bi bi-trash-fill"></i> Limpiar
            </button>
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown"
            >
              <button
                type="button"
                class="btn btn-outline-info dropdown-toggle"
                ngbDropdownToggle
              >
                <i class="bi bi-funnel-fill"></i> Filtros
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem (click)="setFilterType('fecha')">
                  Por fecha
                </button>
                <button ngbDropdownItem (click)="setFilterType('estado')">
                  Por estado
                </button>
              </div>
            </div>
          </div>
          <!-- Fecha -->
          @if(filterType === 'fecha'){
          <div class="d-flex">
            <input
              type="date"
              class="form-control me-2"
              placeholder="Fecha de inicio"
              [(ngModel)]="startDate"
              [max]="endDate"
            />
            <input
              type="date"
              class="form-control me-2"
              placeholder="Fecha de fin"
              [(ngModel)]="endDate"
              [min]="startDate"
            />
            <button class="btn btn-dark" type="button" (click)="applyFilters()">
              Buscar
            </button>
          </div>

          }
          <!-- Estado -->
          @if(filterType === 'estado'){
          <div class="d-flex">
            <select class="form-select me-2" [(ngModel)]="status">
              <option [ngValue]="''">Todos</option>
              @for (key of fineService.fineStatusKeys; track $index) {
              <option [value]="key">
                {{ key | getValueByKeyForEnum : FineStatusEnum }}
              </option>
              }
            </select>
            <button class="btn btn-dark" type="button" (click)="applyFilters()">
              Buscar
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </app-table>


  <ng-template #infoModal let-modal>
    <div class="modal-header fs-6 py-1">
      <h4 class="modal-title">Información de la Lista de Multas</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body fs-6 py-2">
      <div class="container-fluid">
        <!-- Introducción -->
        <div class="alert alert-info mb-2 py-2">
          <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
          <p class="mb-0 small">
            Esta pantalla permite a los usuarios visualizar y gestionar la lista de multas, 
            proporcionando detalles clave y opciones de acción. A continuación, se describen las principales funcionalidades disponibles:
          </p>
        </div>

        <!-- Campos Principales -->
        <div class="card mb-2">
          <div class="card-header py-1">
            <h5 class="mb-0">Datos de Multas</h5>
          </div>
          <div class="card-body py-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-1">
                <strong>Lista de Multas:</strong> Muestra los detalles de cada multa, incluyendo la fecha de creación, estado de la multa, y el tipo de sanción aplicada.
              </li>
              <li class="list-group-item py-1">
                <strong>Fecha:</strong> La fecha en que se creó cada multa, facilitando el seguimiento temporal.
              </li>
              <li class="list-group-item py-1">
                <strong>Estado:</strong> Indica el estado de la multa, como "Aprobado", "Rechazado" o "En Revisión".
              </li>
            </ul>
          </div>
        </div>

        <!-- Acciones -->
        <div class="card mb-2">
          <div class="card-header py-1">
            <h5 class="mb-0">Acciones Disponibles</h5>
          </div>
          <div class="card-body py-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-1">
                <strong>Ver Detalle:</strong> Accede a la información completa de cada multa seleccionando el botón de "ojo" en la columna de acciones.
              </li>
              <li class="list-group-item py-1">
                <strong>Filtrar:</strong> Aplica filtros específicos por fecha o estado para encontrar multas que cumplen con ciertos criterios.
              </li>
              <li class="list-group-item py-1">
                <strong>Limpiar Filtros:</strong> Restablece los filtros aplicados para ver la lista completa de multas.
              </li>
            </ul>
          </div>
        </div>

        <!-- Nota -->
        <div class="alert alert-warning py-2 mb-0">
          <h5 class="alert-heading">Nota:</h5>
          <p class="mb-0 small">
            Verifica los datos antes de realizar cualquier acción sobre las multas. Asegúrate de que la información esté actualizada y sea correcta.
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer py-2">
      <button type="button" class="btn btn-primary" (click)="modal.close()">
        Entendido
      </button>
    </div>
  </ng-template>
</app-main-container>
