<ng-template #fineState let-item>
  <span
    class="badge p-2 border w-100"
    style="max-width: 160px"
    [ngClass]="{
      'text-success': item.fine_state === 'APPROVED',
      'border-success': item.fine_state === 'APPROVED',
      'text-danger': item.fine_state === 'REJECTED',
      'border-danger': item.fine_state === 'REJECTED',
      'border-warning': item.fine_state === 'ON_ASSEMBLY',
      'text-warning': item.fine_state === 'ON_ASSEMBLY'
    }"
    >{{ item.fine_state | getValueByKeyForEnum : FineStatusEnum }}</span
  >
</ng-template>

<ng-template #fineDate let-item>
  {{ item.created_date | date : "dd/MM/yyyy" }}
</ng-template>

<ng-template #actionsTemplate let-item>
  <button class="btn btn-primary btn-sm me-2" (click)="goToFineDetail(item.id)">
    <i class="bi bi-eye"></i>
  </button>
</ng-template>

<ng-template #sanctionType let-item>
  {{ item.sanction_type.name }}
</ng-template>

<app-main-container
  title="Multas"
  id="pdf-template"
  (infoButtonClick)="infoModal()"
>
  <app-table
    [items]="(items$ | async) || []"
    [columns]="columns"
    [pagination]="{
      totalItems: (totalItems$ | async) || 0,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [isLoading]="(isLoading$ | async) || false"
    (searchValueChange)="onSearchValueChange('partialName', $event)"
    [showHeaderButton]="false"
    [showSearchBar]="false"
    (infoButtonClick)="infoModal()"
    [getAllItems]="getAllFines"
    [showExportPdfButton]="false"
  >
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="btn-group me-5" role="group">
        <div class="d-flex align-items-center">
          <div class="btn-group me-2">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="clearFilters()"
            >
              <i class="bi bi-trash-fill"></i> Limpiar
            </button>
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown"
            >
              <button
                type="button"
                class="btn btn-outline-info dropdown-toggle"
                ngbDropdownToggle
              >
                <i class="bi bi-funnel-fill"></i> Filtros
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem (click)="setFilterType('fecha')">
                  Por fecha
                </button>
                <button ngbDropdownItem (click)="setFilterType('estado')">
                  Por estado
                </button>
              </div>
            </div>
          </div>
          <!-- Fecha -->
          @if(filterType === 'fecha'){
          <div class="d-flex">
            <input
              type="date"
              class="form-control me-2"
              placeholder="Fecha de inicio"
              [(ngModel)]="startDate"
              [max]="endDate"
            />
            <input
              type="date"
              class="form-control me-2"
              placeholder="Fecha de fin"
              [(ngModel)]="endDate"
              [min]="startDate"
            />
            <button class="btn btn-dark" type="button" (click)="applyFilters()">
              Buscar
            </button>
          </div>

          }
          <!-- Estado -->
          @if(filterType === 'estado'){
          <div class="d-flex">
            <select class="form-select me-2" [(ngModel)]="status">
              <option [ngValue]="''">Todos</option>
              @for (key of fineService.fineStatusKeys; track $index) {
              <option [value]="key">
                {{ key | getValueByKeyForEnum : FineStatusEnum }}
              </option>
              }
            </select>
            <button class="btn btn-dark" type="button" (click)="applyFilters()">
              Buscar
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </app-table>
</app-main-container>
