<ng-template #actionsTemplate let-item>
  @if(role === 'ADMIN') {
  <button
    class="btn btn-warning btn-sm me-2"
    (click)="goToDetails(item.id, 'edit')"
  >
    <i class="bi bi-pencil"></i>
  </button>
  }
  <button
    class="btn btn-primary btn-sm me-2"
    (click)="goToDetails(item.id, 'detail')"
  >
    <i class="bi bi-eye"></i>
  </button>
</ng-template>
<ng-template #chargeType let-item>
  {{ item.charge_type | getValueByKeyForEnum : ChargeTypeEnum }}
</ng-template>

<ng-template #description let-item>
  {{ item.description | truncate : 40 }}
</ng-template>

<app-main-container title="Tipos de sanciones" (infoButtonClick)="infoModal()">
  <app-table
    [items]="(items$ | async) || []"
    [columns]="columns"
    [pagination]="{
      totalItems: (totalItems$ | async) || 0,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [isLoading]="(isLoading$ | async) || false"
    (searchValueChange)="onSearchValueChange('searchValue', $event)"
    (headerButtonClick)="openFormModal()"
    [headerButtonIcon]="'bi bi-plus'"
    [headerButtonText]="''"
    [showHeaderButton]="role === 'ADMIN'"
    [showExportOptions]="false"
  >
  </app-table>
</app-main-container>
